* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    
}

nav ul li{
    display: inline;
    
 
}

a{
    text-decoration: none;
}


figure{
    height: 100px;
     margin-left: auto;
     margin-right: auto;
    margin-bottom: 300px;
}

p{
    background-color: beige;
}